@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 35% !important; width: 85%; margin-left: 100px;">
    <h1 class="display-4 text-white font-weight-bold"
        style="text-shadow: 0px 0px 2px #7b539d, 0px 0px 3px #7b539d, 0px 0px 7px #7b539d, 0px 0px 5px #7b539d, 0px 0px 8px #7b539d, 0px 0px 8px #7b539d;background: no-repeat,url(https://vacban.wtf/uploads/sparkles/sparkle_white.gif);">
        Welcome to our Book
        Sharing App</h1>
</div>
