@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="bg-white" style="border-radius: 20px;">
    <div style="padding: 20px 40px 20px 40px;">
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
